.popupContainer {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: aquamarine;
   display: flex;
   align-items: center;
   justify-content: center;
}

.popupContent {
    width: 500px;
    background-color: whitesmoke;
    padding: 10px;
}