.btn {
    margin: 5px;
    background: 1px solid darkcyan;
    border-radius: 5px;
    padding: 5px;
    color: bisque;
    background-color: rgb(204, 143, 20);
    min-width: 100px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: coral;
    border-color: rgb(44, 148, 174);
}

.btn:focus {
    outline: none;
}